.profile__avatar {
  max-width: 120px;
  min-height: 120px;
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50%;
  position: relative;
  object-position: center;
  object-fit: cover;
  display: flex;
  overflow: hidden;
  flex-basis: 120px;

}
